// COLORS

$primary-1 : hsl(0, 100%, 67%);
$primary-2 : hsl(39, 100%, 56%);
$primary-3 : hsl(166, 100%, 37%);
$primary-4 : hsl(234, 85%, 45%);

$primary-bg-1 : hsla(0, 100%, 67%, 0.05);
$primary-bg-2 : hsla(39, 100%, 56%, 0.05);
$primary-bg-3 : hsla(166, 100%, 37%, 0.05);
$primary-bg-4 : hsla(234, 85%, 45%, 0.05);

$gradient-bg-1 : hsl(252, 100%, 67%);
$gradient-bg-2 : hsl(241, 81%, 54%);

$gradient-circle-1 : hsla(256, 72%, 46%, 1);
$gradient-circle-2 : hsla(241, 72%, 46%, 0);

$neutral-1 : hsl(0, 0%, 100%);
$neutral-2 : hsl(221, 100%, 96%);
$neutral-3 : hsl(241, 100%, 89%);
$neutral-4 : hsl(224, 30%, 27%);
$neutral-5 : hsla(224, 30%, 27%, 0.5);

$shadow : hsla(224, 53%, 83%, 0.901);

// TYPOGRAPHY

$body-font : 18px;